
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card-tools">
                    <a href="#/CreateRestaurant" class="btn btn-flat btn-sm btn-primary"><i class="fa fa-plus"
                                                                                       aria-hidden="true"></i>
                        Ajouter un restaurant</a>
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="²                                                                                                                    ²                                                                                                                                    ">Listes des restaurants</h4>

                        <div class="input-group rounded">
                            <input type="search" class="form-control rounded" placeholder="Search" [(ngModel)]="searchText" aria-label="Search" aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon">
    <i class="fa fa-search"></i>
  </span>
                        </div>



                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <tr>

                                    <th> Informations restaurants</th>
                                    <th> Informations additionnels</th>
                                    <th> Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let restaurant of restaurants  | search: searchText">
                                    <td> Nom : {{ restaurant.nom  }}<br>
                                         adresse : {{ restaurant.adresse }}<br>
                                         rank : {{ restaurant.rank }}<br>
                                        longitude : {{ restaurant.longitude }}<br>
                                        latitude : {{ restaurant.latitude }}<br>
                                    </td>
                                    <td>

                                        heure_open : {{ restaurant.heureOpen }}<br>
                                        heure_close : {{ restaurant.heureClose }}<br>
                                        zone : {{ restaurant.zone.nom }}<br>
                                        serie : {{ restaurant.serie.nom}}<br>

                                    </td>
                                    <td>
                                        <button  class="btn btn-primary">
                                            <i class="material-icons">map</i>
                                        </button>
                                        <button (click)="restaurantDetails(restaurant.id)" class="btn btn-primary">
                                            <i class="material-icons">info</i>
                                        </button>
                                        <button (click)="updateRestaurant(restaurant.id)" class="btn btn-primary">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button (click)="deleteRestaurant(restaurant.id)" class="btn btn-danger"
                                        ><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

