<div class="main-content">
  <div class="container-fluid">

      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"> Restaurants par ville</h4>

                  </div>

              </div>

          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Restaurants par zone</h4>

                  </div>

              </div>
          </div>

      </div>


  </div>
</div>
