<div class="card">
    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8YDgzpg-xhtsygjjct1XUQu3CHRyksLUjNg&usqp=CAU" class="img-fluid"/>

    </div>

    <div class="card-body">
        <h5 class="card-title">NOM: {{restaurant.nom}}</h5>
        <p class="card-text">Adresse: {{restaurant.adresse}}</p>
        <p class="card-text">heure d'ouverture: {{restaurant.heureOpen}}</p>
        <p class="card-text">heure de fermeture: {{restaurant.heureClose}}</p>
    </div>
</div>