<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Mise a jour de la ville </h4>

          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Ajouter le nom" type="text" id="nom"
                           [(ngModel)]="ville.nom"
                           name="emailId">
                  </mat-form-field>

                </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>


